Digital.WCFClient/Service References/ConfigService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4503/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" />
  <xs:element name="GetMenuList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetMenuListResult" nillable="true" type="q1:ArrayOfMenuModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>