Digital.WCFClient/Service References/ConfigService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMenuModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuModel" nillable="true" type="tns:MenuModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuModel" nillable="true" type="tns:ArrayOfMenuModel" />
  <xs:complexType name="MenuModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MenuName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" type="xs:int" />
      <xs:element minOccurs="0" name="Style" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuModel" nillable="true" type="tns:MenuModel" />
  <xs:complexType name="ArrayOfCommonRightModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommonRightModel" nillable="true" type="tns:CommonRightModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommonRightModel" nillable="true" type="tns:ArrayOfCommonRightModel" />
  <xs:complexType name="CommonRightModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MenuModels" nillable="true" type="tns:ArrayOfMenuModel" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonRightModel" nillable="true" type="tns:CommonRightModel" />
  <xs:complexType name="UsersModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IdeaModelList" nillable="true" type="tns:ArrayOfIdeaModel" />
      <xs:element minOccurs="0" name="LastLoginTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoginIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Passwords" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateStatus" type="xs:int" />
      <xs:element minOccurs="0" name="UserTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="UsersInfoID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UsersInfoModel" nillable="true" type="tns:UsersInfoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsersModel" nillable="true" type="tns:UsersModel" />
  <xs:complexType name="ArrayOfIdeaModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IdeaModel" nillable="true" type="tns:IdeaModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIdeaModel" nillable="true" type="tns:ArrayOfIdeaModel" />
  <xs:complexType name="IdeaModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdeaModel" nillable="true" type="tns:IdeaModel" />
  <xs:complexType name="UsersInfoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeGoodAtIntroduction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityID" type="xs:int" />
      <xs:element minOccurs="0" name="CityModels" nillable="true" type="tns:CityModel" />
      <xs:element minOccurs="0" name="DisplayPicture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoodAtWhatID" type="xs:int" />
      <xs:element minOccurs="0" name="GoodAtWhatModels" nillable="true" type="tns:ArrayOfGoodAtWhatModel" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceID" type="xs:int" />
      <xs:element minOccurs="0" name="QQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" type="xs:int" />
      <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateStatus" type="xs:int" />
      <xs:element minOccurs="0" name="UsersInfoID" type="xs:int" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsersInfoModel" nillable="true" type="tns:UsersInfoModel" />
  <xs:complexType name="CityModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityModel" nillable="true" type="tns:CityModel" />
  <xs:complexType name="ArrayOfGoodAtWhatModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoodAtWhatModel" nillable="true" type="tns:GoodAtWhatModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoodAtWhatModel" nillable="true" type="tns:ArrayOfGoodAtWhatModel" />
  <xs:complexType name="GoodAtWhatModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="GoodAtWhatID" type="xs:int" />
      <xs:element minOccurs="0" name="SkillId" type="xs:int" />
      <xs:element minOccurs="0" name="SkillsModel" nillable="true" type="tns:SkillsModel" />
      <xs:element minOccurs="0" name="UpdateStatus" type="xs:int" />
      <xs:element minOccurs="0" name="UsersInfoID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoodAtWhatModel" nillable="true" type="tns:GoodAtWhatModel" />
  <xs:complexType name="SkillsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkillId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SkillsModel" nillable="true" type="tns:SkillsModel" />
  <xs:complexType name="ArrayOfSkillsModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SkillsModel" nillable="true" type="tns:SkillsModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkillsModel" nillable="true" type="tns:ArrayOfSkillsModel" />
  <xs:complexType name="WaterMarkModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsCompanyName" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsWebsite" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="WaterPostion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WaterMarkModel" nillable="true" type="tns:WaterMarkModel" />
  <xs:complexType name="CompanyModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnnualBusinessVolume" type="xs:int" />
      <xs:element minOccurs="0" name="AnnualBusinessVolumeMode" nillable="true" type="tns:AnnualBusinessVolumeMode" />
      <xs:element minOccurs="0" name="AnnualExportsVolume" type="xs:int" />
      <xs:element minOccurs="0" name="AnnualExportsVolumeMode" nillable="true" type="tns:AnnualExportsVolumeMode" />
      <xs:element minOccurs="0" name="CapacityIntro" type="xs:int" />
      <xs:element minOccurs="0" name="CapacityIntroUnit" type="xs:int" />
      <xs:element minOccurs="0" name="CapacityUnitMode" nillable="true" type="tns:CapacityUnitMode" />
      <xs:element minOccurs="0" name="CasesCategoryModels" nillable="true" type="tns:ArrayOfCasesCategoryModel" />
      <xs:element minOccurs="0" name="CertificateModels" nillable="true" type="tns:ArrayOfCertificateModel" />
      <xs:element minOccurs="0" name="CompanyBankAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyBankDeposit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyBusinessCity" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyBusinessCityMode" nillable="true" type="tns:CompanyBusinessCityMode" />
      <xs:element minOccurs="0" name="CompanyBusinessMode" nillable="true" type="tns:CompanyBusinessMode" />
      <xs:element minOccurs="0" name="CompanyBusinessModel" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyBusinessProvince" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyBusinessProvinceMode" nillable="true" type="tns:CompanyBusinessProvinceMode" />
      <xs:element minOccurs="0" name="CompanyCorporateRepresentative" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyIntro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyMemberMode" nillable="true" type="tns:CompanyMemberMode" />
      <xs:element minOccurs="0" name="CompanyMembers" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyRegisteredAssets" type="xs:float" />
      <xs:element minOccurs="0" name="CompanyRegisteredAssetsUnit" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyRegisteredAssetsUnitMode" nillable="true" type="tns:CompanyRegisteredAssetsUnitMode" />
      <xs:element minOccurs="0" name="CompanyRegisteredCity" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyRegisteredCityMode" nillable="true" type="tns:CompanyBusinessCityMode" />
      <xs:element minOccurs="0" name="CompanyRegisteredNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyRegisteredProvince" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyRegisteredProvinceMode" nillable="true" type="tns:CompanyBusinessProvinceMode" />
      <xs:element minOccurs="0" name="CompanyTypeMode" nillable="true" type="tns:CompanyTypeMode" />
      <xs:element minOccurs="0" name="CompanyTypeNO" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyWebsite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyYearEstablished" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentModels" nillable="true" type="tns:ArrayOfDepartmentModel" />
      <xs:element minOccurs="0" name="EquipmentIntro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EquipmentIntroMode" nillable="true" type="tns:EquipmentIntroMode" />
      <xs:element minOccurs="0" name="FactoryArea" type="xs:float" />
      <xs:element minOccurs="0" name="FolderModels" nillable="true" type="tns:ArrayOfFolderModel" />
      <xs:element minOccurs="0" name="IsProvideOEM" type="xs:boolean" />
      <xs:element minOccurs="0" name="ManagementSystemCertification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManagementSystemCertificationMode" nillable="true" type="tns:ManagementSystemCertificationMode" />
      <xs:element minOccurs="0" name="NewsCategoryModels" nillable="true" type="tns:ArrayOfNewsCategoryModel" />
      <xs:element minOccurs="0" name="PatentModels" nillable="true" type="tns:ArrayOfPatentModel" />
      <xs:element minOccurs="0" name="PrimaryBusiness" type="xs:int" />
      <xs:element minOccurs="0" name="PrimaryBusinessCategory" type="xs:int" />
      <xs:element minOccurs="0" name="PrimaryBusinessCategoryMode" nillable="true" type="tns:PrimaryBusinessCategoryMode" />
      <xs:element minOccurs="0" name="PrimaryBusinessMode" nillable="true" type="tns:PrimaryBusinessMode" />
      <xs:element minOccurs="0" name="PrimaryEquipments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryProduct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimarySalesArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimarySalesAreaMode" nillable="true" type="tns:ArrayOfPrimarySalesAreaMode" />
      <xs:element minOccurs="0" name="ProcessingCraft" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessingCraftMode" nillable="true" type="tns:ProcessingCraftMode" />
      <xs:element minOccurs="0" name="ProcessingMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessingMethodMode" nillable="true" type="tns:ProcessingMethodMode" />
      <xs:element minOccurs="0" name="ProductQualityCertification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductQualityCertificationMode" nillable="true" type="tns:ProductQualityCertificationMode" />
      <xs:element minOccurs="0" name="ProductionForm" type="xs:int" />
      <xs:element minOccurs="0" name="ProductionFormMode" nillable="true" type="tns:ProductionFormMode" />
      <xs:element minOccurs="0" name="QualityAssurance" type="xs:int" />
      <xs:element minOccurs="0" name="QualityAssuranceMode" nillable="true" type="tns:QualityAssuranceMode" />
      <xs:element minOccurs="0" name="ResearchDepartMemberMode" nillable="true" type="tns:CompanyMemberMode" />
      <xs:element minOccurs="0" name="ResearchDepartMembers" type="xs:int" />
      <xs:element minOccurs="0" name="ServicesDomain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServicesDomainMode" nillable="true" type="tns:ServicesDomainMode" />
      <xs:element minOccurs="0" name="SinglePageModels" nillable="true" type="tns:ArrayOfSinglePageModel" />
      <xs:element minOccurs="0" name="UpdateStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyModel" nillable="true" type="tns:CompanyModel" />
  <xs:complexType name="AnnualBusinessVolumeMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AnnualBusinessVolumeMode" nillable="true" type="tns:AnnualBusinessVolumeMode" />
  <xs:complexType name="BaseNameValueMode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseNameValueMode" nillable="true" type="tns:BaseNameValueMode" />
  <xs:complexType name="AnnualExportsVolumeMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AnnualExportsVolumeMode" nillable="true" type="tns:AnnualExportsVolumeMode" />
  <xs:complexType name="CapacityUnitMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CapacityUnitMode" nillable="true" type="tns:CapacityUnitMode" />
  <xs:complexType name="ArrayOfCasesCategoryModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CasesCategoryModel" nillable="true" type="tns:CasesCategoryModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCasesCategoryModel" nillable="true" type="tns:ArrayOfCasesCategoryModel" />
  <xs:complexType name="CasesCategoryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CasesCategoryContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CasesCategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="CasesCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CasesCategoryOrderID" type="xs:int" />
      <xs:element minOccurs="0" name="CasesCategoryParentID" type="xs:int" />
      <xs:element minOccurs="0" name="CasesCategoryPicture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CasesModels" nillable="true" type="tns:ArrayOfCasesModel" />
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyModel" nillable="true" type="tns:CompanyModel" />
      <xs:element minOccurs="0" name="UpdateStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CasesCategoryModel" nillable="true" type="tns:CasesCategoryModel" />
  <xs:complexType name="ArrayOfCasesModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CasesModel" nillable="true" type="tns:CasesModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCasesModel" nillable="true" type="tns:ArrayOfCasesModel" />
  <xs:complexType name="CasesModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CasesAbstract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CasesCategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="CasesCategoryModel" nillable="true" type="tns:CasesCategoryModel" />
      <xs:element minOccurs="0" name="CasesDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CasesDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CasesID" type="xs:int" />
      <xs:element minOccurs="0" name="CasesLabels" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CasesName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CasesOrderBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CasesThumbnail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyModel" nillable="true" type="tns:CompanyModel" />
      <xs:element minOccurs="0" name="UpdateStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CasesModel" nillable="true" type="tns:CasesModel" />
  <xs:complexType name="ArrayOfCertificateModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CertificateModel" nillable="true" type="tns:CertificateModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCertificateModel" nillable="true" type="tns:ArrayOfCertificateModel" />
  <xs:complexType name="CertificateModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CertificateID" type="xs:int" />
      <xs:element minOccurs="0" name="CertificateIntros" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertificateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertificateThumbnail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyModel" nillable="true" type="tns:CompanyModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CertificateModel" nillable="true" type="tns:CertificateModel" />
  <xs:complexType name="CompanyBusinessCityMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence>
          <xs:element minOccurs="0" name="BusinessProvinceName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompanyBusinessCityMode" nillable="true" type="tns:CompanyBusinessCityMode" />
  <xs:complexType name="CompanyBusinessMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompanyBusinessMode" nillable="true" type="tns:CompanyBusinessMode" />
  <xs:complexType name="CompanyBusinessProvinceMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompanyBusinessCityModeList" nillable="true" type="tns:ArrayOfCompanyBusinessCityMode" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompanyBusinessProvinceMode" nillable="true" type="tns:CompanyBusinessProvinceMode" />
  <xs:complexType name="ArrayOfCompanyBusinessCityMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyBusinessCityMode" nillable="true" type="tns:CompanyBusinessCityMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyBusinessCityMode" nillable="true" type="tns:ArrayOfCompanyBusinessCityMode" />
  <xs:complexType name="CompanyMemberMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompanyMemberMode" nillable="true" type="tns:CompanyMemberMode" />
  <xs:complexType name="CompanyRegisteredAssetsUnitMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompanyRegisteredAssetsUnitMode" nillable="true" type="tns:CompanyRegisteredAssetsUnitMode" />
  <xs:complexType name="CompanyTypeMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompanyTypeMode" nillable="true" type="tns:CompanyTypeMode" />
  <xs:complexType name="ArrayOfDepartmentModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartmentModel" nillable="true" type="tns:DepartmentModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartmentModel" nillable="true" type="tns:ArrayOfDepartmentModel" />
  <xs:complexType name="DepartmentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentModel" nillable="true" type="tns:DepartmentModel" />
  <xs:complexType name="EquipmentIntroMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EquipmentIntroMode" nillable="true" type="tns:EquipmentIntroMode" />
  <xs:complexType name="ArrayOfFolderModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FolderModel" nillable="true" type="tns:FolderModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFolderModel" nillable="true" type="tns:ArrayOfFolderModel" />
  <xs:complexType name="FolderModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyModel" nillable="true" type="tns:CompanyModel" />
      <xs:element minOccurs="0" name="FolderID" type="xs:int" />
      <xs:element minOccurs="0" name="FolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FolderNameCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FolderModel" nillable="true" type="tns:FolderModel" />
  <xs:complexType name="ManagementSystemCertificationMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ManagementSystemCertificationMode" nillable="true" type="tns:ManagementSystemCertificationMode" />
  <xs:complexType name="ArrayOfNewsCategoryModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewsCategoryModel" nillable="true" type="tns:NewsCategoryModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewsCategoryModel" nillable="true" type="tns:ArrayOfNewsCategoryModel" />
  <xs:complexType name="NewsCategoryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyModel" nillable="true" type="tns:CompanyModel" />
      <xs:element minOccurs="0" name="NewsCategoryContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewsCategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="NewsCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewsCategoryOrderID" type="xs:int" />
      <xs:element minOccurs="0" name="NewsCategoryParentID" type="xs:int" />
      <xs:element minOccurs="0" name="NewsCategoryPicture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewsModels" nillable="true" type="tns:ArrayOfNewsModel" />
      <xs:element minOccurs="0" name="UpdateStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewsCategoryModel" nillable="true" type="tns:NewsCategoryModel" />
  <xs:complexType name="ArrayOfNewsModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewsModel" nillable="true" type="tns:NewsModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewsModel" nillable="true" type="tns:ArrayOfNewsModel" />
  <xs:complexType name="NewsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyModel" nillable="true" type="tns:CompanyModel" />
      <xs:element minOccurs="0" name="NewsAbstract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewsBody" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewsCategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="NewsCategoryModel" nillable="true" type="tns:NewsCategoryModel" />
      <xs:element minOccurs="0" name="NewsCommentModels" nillable="true" type="tns:ArrayOfNewsCommentModel" />
      <xs:element minOccurs="0" name="NewsID" type="xs:int" />
      <xs:element minOccurs="0" name="NewsKeywords" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewsLabels" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewsOrderID" type="xs:int" />
      <xs:element minOccurs="0" name="NewsThumbnail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewsTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReleaseTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ViewsCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewsModel" nillable="true" type="tns:NewsModel" />
  <xs:complexType name="ArrayOfNewsCommentModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewsCommentModel" nillable="true" type="tns:NewsCommentModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewsCommentModel" nillable="true" type="tns:ArrayOfNewsCommentModel" />
  <xs:complexType name="NewsCommentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommentID" type="xs:int" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsClosed" type="xs:boolean" />
      <xs:element minOccurs="0" name="NewsID" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ToUserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewsCommentModel" nillable="true" type="tns:NewsCommentModel" />
  <xs:complexType name="ArrayOfPatentModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatentModel" nillable="true" type="tns:PatentModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatentModel" nillable="true" type="tns:ArrayOfPatentModel" />
  <xs:complexType name="PatentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="IsDisabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTransferred" type="xs:boolean" />
      <xs:element minOccurs="0" name="PatentAbstract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatentCerificate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatentDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatentDevelopmentStatus" type="xs:int" />
      <xs:element minOccurs="0" name="PatentID" type="xs:int" />
      <xs:element minOccurs="0" name="PatentIntro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatentLabels" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatentOrderID" type="xs:int" />
      <xs:element minOccurs="0" name="PatentTechnologyDomain" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatentModel" nillable="true" type="tns:PatentModel" />
  <xs:complexType name="PrimaryBusinessCategoryMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence>
          <xs:element minOccurs="0" name="PrimaryBusinessList" nillable="true" type="tns:ArrayOfPrimaryBusinessMode" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PrimaryBusinessCategoryMode" nillable="true" type="tns:PrimaryBusinessCategoryMode" />
  <xs:complexType name="ArrayOfPrimaryBusinessMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrimaryBusinessMode" nillable="true" type="tns:PrimaryBusinessMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrimaryBusinessMode" nillable="true" type="tns:ArrayOfPrimaryBusinessMode" />
  <xs:complexType name="PrimaryBusinessMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence>
          <xs:element minOccurs="0" name="BusinessCategoryName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PrimaryBusinessMode" nillable="true" type="tns:PrimaryBusinessMode" />
  <xs:complexType name="ArrayOfPrimarySalesAreaMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrimarySalesAreaMode" nillable="true" type="tns:PrimarySalesAreaMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrimarySalesAreaMode" nillable="true" type="tns:ArrayOfPrimarySalesAreaMode" />
  <xs:complexType name="PrimarySalesAreaMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PrimarySalesAreaMode" nillable="true" type="tns:PrimarySalesAreaMode" />
  <xs:complexType name="ProcessingCraftMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProcessingCraftMode" nillable="true" type="tns:ProcessingCraftMode" />
  <xs:complexType name="ProcessingMethodMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProcessingMethodMode" nillable="true" type="tns:ProcessingMethodMode" />
  <xs:complexType name="ProductQualityCertificationMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductQualityCertificationMode" nillable="true" type="tns:ProductQualityCertificationMode" />
  <xs:complexType name="ProductionFormMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductionFormMode" nillable="true" type="tns:ProductionFormMode" />
  <xs:complexType name="QualityAssuranceMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QualityAssuranceMode" nillable="true" type="tns:QualityAssuranceMode" />
  <xs:complexType name="ServicesDomainMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServicesDomainMode" nillable="true" type="tns:ServicesDomainMode" />
  <xs:complexType name="ArrayOfSinglePageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SinglePageModel" nillable="true" type="tns:SinglePageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSinglePageModel" nillable="true" type="tns:ArrayOfSinglePageModel" />
  <xs:complexType name="SinglePageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PageBody" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageID" type="xs:int" />
      <xs:element minOccurs="0" name="PageKeyWords" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageRelationFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SinglePageModel" nillable="true" type="tns:SinglePageModel" />
  <xs:complexType name="ArrayOfCompanyModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyModel" nillable="true" type="tns:CompanyModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyModel" nillable="true" type="tns:ArrayOfCompanyModel" />
  <xs:complexType name="ArrayOfCompanyTypeMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyTypeMode" nillable="true" type="tns:CompanyTypeMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyTypeMode" nillable="true" type="tns:ArrayOfCompanyTypeMode" />
  <xs:complexType name="ArrayOfCompanyMemberMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyMemberMode" nillable="true" type="tns:CompanyMemberMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyMemberMode" nillable="true" type="tns:ArrayOfCompanyMemberMode" />
  <xs:complexType name="ArrayOfCompanyBusinessMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyBusinessMode" nillable="true" type="tns:CompanyBusinessMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyBusinessMode" nillable="true" type="tns:ArrayOfCompanyBusinessMode" />
  <xs:complexType name="ArrayOfPrimaryBusinessCategoryMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrimaryBusinessCategoryMode" nillable="true" type="tns:PrimaryBusinessCategoryMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrimaryBusinessCategoryMode" nillable="true" type="tns:ArrayOfPrimaryBusinessCategoryMode" />
  <xs:complexType name="ArrayOfProductionFormMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductionFormMode" nillable="true" type="tns:ProductionFormMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductionFormMode" nillable="true" type="tns:ArrayOfProductionFormMode" />
  <xs:complexType name="ArrayOfServicesDomainMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServicesDomainMode" nillable="true" type="tns:ServicesDomainMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicesDomainMode" nillable="true" type="tns:ArrayOfServicesDomainMode" />
  <xs:complexType name="ArrayOfProcessingMethodMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessingMethodMode" nillable="true" type="tns:ProcessingMethodMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessingMethodMode" nillable="true" type="tns:ArrayOfProcessingMethodMode" />
  <xs:complexType name="ArrayOfProcessingCraftMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessingCraftMode" nillable="true" type="tns:ProcessingCraftMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessingCraftMode" nillable="true" type="tns:ArrayOfProcessingCraftMode" />
  <xs:complexType name="ArrayOfEquipmentIntroMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EquipmentIntroMode" nillable="true" type="tns:EquipmentIntroMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipmentIntroMode" nillable="true" type="tns:ArrayOfEquipmentIntroMode" />
  <xs:complexType name="ArrayOfCapacityUnitMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CapacityUnitMode" nillable="true" type="tns:CapacityUnitMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCapacityUnitMode" nillable="true" type="tns:ArrayOfCapacityUnitMode" />
  <xs:complexType name="ArrayOfAnnualBusinessVolumeMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnnualBusinessVolumeMode" nillable="true" type="tns:AnnualBusinessVolumeMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnnualBusinessVolumeMode" nillable="true" type="tns:ArrayOfAnnualBusinessVolumeMode" />
  <xs:complexType name="ArrayOfAnnualExportsVolumeMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnnualExportsVolumeMode" nillable="true" type="tns:AnnualExportsVolumeMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnnualExportsVolumeMode" nillable="true" type="tns:ArrayOfAnnualExportsVolumeMode" />
  <xs:complexType name="ArrayOfManagementSystemCertificationMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ManagementSystemCertificationMode" nillable="true" type="tns:ManagementSystemCertificationMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManagementSystemCertificationMode" nillable="true" type="tns:ArrayOfManagementSystemCertificationMode" />
  <xs:complexType name="ArrayOfProductQualityCertificationMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductQualityCertificationMode" nillable="true" type="tns:ProductQualityCertificationMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductQualityCertificationMode" nillable="true" type="tns:ArrayOfProductQualityCertificationMode" />
  <xs:complexType name="ArrayOfQualityAssuranceMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QualityAssuranceMode" nillable="true" type="tns:QualityAssuranceMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQualityAssuranceMode" nillable="true" type="tns:ArrayOfQualityAssuranceMode" />
  <xs:complexType name="ArrayOfCompanyYearEstablishedMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyYearEstablishedMode" nillable="true" type="tns:CompanyYearEstablishedMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyYearEstablishedMode" nillable="true" type="tns:ArrayOfCompanyYearEstablishedMode" />
  <xs:complexType name="CompanyYearEstablishedMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompanyYearEstablishedMode" nillable="true" type="tns:CompanyYearEstablishedMode" />
  <xs:complexType name="ArrayOfCompanyRegisteredAssetsUnitMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyRegisteredAssetsUnitMode" nillable="true" type="tns:CompanyRegisteredAssetsUnitMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyRegisteredAssetsUnitMode" nillable="true" type="tns:ArrayOfCompanyRegisteredAssetsUnitMode" />
  <xs:complexType name="ArrayOfTechnologyDomainMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TechnologyDomainMode" nillable="true" type="tns:TechnologyDomainMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTechnologyDomainMode" nillable="true" type="tns:ArrayOfTechnologyDomainMode" />
  <xs:complexType name="TechnologyDomainMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TechnologyDomainMode" nillable="true" type="tns:TechnologyDomainMode" />
  <xs:complexType name="ArrayOfDevelopmentStatusMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DevelopmentStatusMode" nillable="true" type="tns:DevelopmentStatusMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDevelopmentStatusMode" nillable="true" type="tns:ArrayOfDevelopmentStatusMode" />
  <xs:complexType name="DevelopmentStatusMode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseNameValueMode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DevelopmentStatusMode" nillable="true" type="tns:DevelopmentStatusMode" />
  <xs:complexType name="ArrayOfFileFolderMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileFolderMode" nillable="true" type="tns:FileFolderMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileFolderMode" nillable="true" type="tns:ArrayOfFileFolderMode" />
  <xs:complexType name="FileFolderMode">
    <xs:sequence>
      <xs:element minOccurs="0" name="FolderDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FolderNameCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FolderPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FolderSize" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileFolderMode" nillable="true" type="tns:FileFolderMode" />
  <xs:complexType name="ArrayOfFilesMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FilesMode" nillable="true" type="tns:FilesMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilesMode" nillable="true" type="tns:ArrayOfFilesMode" />
  <xs:complexType name="FilesMode">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileExtensionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FolderNameCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FolderParent" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilesMode" nillable="true" type="tns:FilesMode" />
</xs:schema>