Digital.WCFClient/Service References/ConfigService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4503/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" />
  <xs:element name="GetMenuList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetMenuListResult" nillable="true" type="q1:ArrayOfMenuModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommonRightList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommonRightListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetCommonRightListResult" nillable="true" type="q2:ArrayOfCommonRightModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="LoginResult" nillable="true" type="q3:UsersModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetUserInfoResult" nillable="true" type="q4:UsersModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetSkillListResult" nillable="true" type="q5:ArrayOfSkillsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsersInfoModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="UserModel" nillable="true" type="q6:UsersModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsersInfoModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="UpdateUsersInfoModelResult" nillable="true" type="q7:UsersInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGoodAtWhat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="UserModel" nillable="true" type="q8:UsersModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGoodAtWhatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGoodAtWhatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsersModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="UserModel" nillable="true" type="q9:UsersModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsersModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="UpdateUsersModelResult" nillable="true" type="q10:UsersModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetUserInfoByNameResult" nillable="true" type="q11:UsersModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="UserModel" nillable="true" type="q12:UsersModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WaterEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="WaterMark" nillable="true" type="q13:WaterMarkModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WaterEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="WaterEditResult" nillable="true" type="q14:WaterMarkModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WaterFind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Userid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WaterFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="WaterFindResult" nillable="true" type="q15:WaterMarkModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="Model" nillable="true" type="q16:CompanyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="CompanyInsertResult" nillable="true" type="q17:CompanyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="Model" nillable="true" type="q18:CompanyModel" />
        <xs:element minOccurs="0" name="TabIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="CompanyUpdateResult" nillable="true" type="q19:CompanyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="CompanyQueryByIdResult" nillable="true" type="q20:CompanyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyQueryByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyQueryByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="CompanyQueryByNameResult" nillable="true" type="q21:CompanyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyDeleteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyDeleteByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyDeleteByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyDisposeByNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyRegisteredNO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyDisposeByNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyDisposeByNoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyQueryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyQueryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="CompanyQueryListResult" nillable="true" type="q22:ArrayOfCompanyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetCompanyTypeListResult" nillable="true" type="q23:ArrayOfCompanyTypeMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyMemberList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyMemberListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetCompanyMemberListResult" nillable="true" type="q24:ArrayOfCompanyMemberMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyBusinessList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyBusinessListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetCompanyBusinessListResult" nillable="true" type="q25:ArrayOfCompanyBusinessMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrimaryBusinessList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrimaryBusinessListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetPrimaryBusinessListResult" nillable="true" type="q26:ArrayOfPrimaryBusinessCategoryMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrimarySalesAreaList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrimarySalesAreaListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetPrimarySalesAreaListResult" nillable="true" type="q27:ArrayOfPrimarySalesAreaMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductionFormList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductionFormListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetProductionFormListResult" nillable="true" type="q28:ArrayOfProductionFormMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicesDomainList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicesDomainListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetServicesDomainListResult" nillable="true" type="q29:ArrayOfServicesDomainMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessingMethodList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessingMethodListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetProcessingMethodListResult" nillable="true" type="q30:ArrayOfProcessingMethodMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessingCraftList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessingCraftListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetProcessingCraftListResult" nillable="true" type="q31:ArrayOfProcessingCraftMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentIntroList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentIntroListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetEquipmentIntroListResult" nillable="true" type="q32:ArrayOfEquipmentIntroMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapacityUnitList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapacityUnitListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetCapacityUnitListResult" nillable="true" type="q33:ArrayOfCapacityUnitMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnualBusinessVolumeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnualBusinessVolumeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetAnnualBusinessVolumeListResult" nillable="true" type="q34:ArrayOfAnnualBusinessVolumeMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnualExportsVolumeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnualExportsVolumeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetAnnualExportsVolumeListResult" nillable="true" type="q35:ArrayOfAnnualExportsVolumeMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagementSystemCertificationList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagementSystemCertificationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetManagementSystemCertificationListResult" nillable="true" type="q36:ArrayOfManagementSystemCertificationMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductQualityCertificationList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductQualityCertificationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetProductQualityCertificationListResult" nillable="true" type="q37:ArrayOfProductQualityCertificationMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualityAssuranceList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualityAssuranceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetQualityAssuranceListResult" nillable="true" type="q38:ArrayOfQualityAssuranceMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyYearEstablishedList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyYearEstablishedListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetCompanyYearEstablishedListResult" nillable="true" type="q39:ArrayOfCompanyYearEstablishedMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyRegisteredAssetsUnitList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyRegisteredAssetsUnitListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetCompanyRegisteredAssetsUnitListResult" nillable="true" type="q40:ArrayOfCompanyRegisteredAssetsUnitMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesCategoryInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="Model" nillable="true" type="q41:CasesCategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesCategoryInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="CasesCategoryInsertResult" nillable="true" type="q42:CasesCategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesCategoryUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="Model" nillable="true" type="q43:CasesCategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesCategoryUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="CasesCategoryUpdateResult" nillable="true" type="q44:CasesCategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesCategoryQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CasesCategoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesCategoryQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="CasesCategoryQueryByIdResult" nillable="true" type="q45:CasesCategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesCategoryQueryByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CasesCategoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesCategoryQueryByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="CasesCategoryQueryByNameResult" nillable="true" type="q46:CasesCategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesCategoryDeleteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CasesCategoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesCategoryDeleteByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CasesCategoryDeleteByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesCategoryDeleteByCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesCategoryDeleteByCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CasesCategoryDeleteByCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesCategoryQueryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesCategoryQueryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="CasesCategoryQueryListResult" nillable="true" type="q47:ArrayOfCasesCategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesCategoryQueryListByCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesCategoryQueryListByCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="CasesCategoryQueryListByCompanyResult" nillable="true" type="q48:ArrayOfCasesCategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="Model" nillable="true" type="q49:CasesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="CasesInsertResult" nillable="true" type="q50:CasesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="Model" nillable="true" type="q51:CasesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="CasesUpdateResult" nillable="true" type="q52:CasesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CasesId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="CasesQueryByIdResult" nillable="true" type="q53:CasesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesQueryByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CasesName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesQueryByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="CasesQueryByNameResult" nillable="true" type="q54:CasesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesDeleteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CasesId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesDeleteByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CasesDeleteByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesDeleteByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CasesCategoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesDeleteByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CasesDeleteByCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesDeleteByCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesDeleteByCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CasesDeleteByCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesQueryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesQueryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="CasesQueryListResult" nillable="true" type="q55:ArrayOfCasesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesQueryListByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CasesCategoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesQueryListByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="CasesQueryListByCategoryResult" nillable="true" type="q56:ArrayOfCasesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesQueryListByCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CasesQueryListByCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="CasesQueryListByCompanyResult" nillable="true" type="q57:ArrayOfCasesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsCategoryInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="Model" nillable="true" type="q58:NewsCategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsCategoryInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="NewsCategoryInsertResult" nillable="true" type="q59:NewsCategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsCategoryUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="Model" nillable="true" type="q60:NewsCategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsCategoryUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="NewsCategoryUpdateResult" nillable="true" type="q61:NewsCategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsCategoryQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewsCategoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsCategoryQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="NewsCategoryQueryByIdResult" nillable="true" type="q62:NewsCategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsCategoryQueryByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewsCategoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsCategoryQueryByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="NewsCategoryQueryByNameResult" nillable="true" type="q63:NewsCategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsCategoryDeleteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewsCategoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsCategoryDeleteByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewsCategoryDeleteByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsCategoryDeleteByCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsCategoryDeleteByCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewsCategoryDeleteByCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsCategoryQueryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsCategoryQueryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="NewsCategoryQueryListResult" nillable="true" type="q64:ArrayOfNewsCategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsCategoryQueryListByCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsCategoryQueryListByCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="NewsCategoryQueryListByCompanyResult" nillable="true" type="q65:ArrayOfNewsCategoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="Model" nillable="true" type="q66:NewsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="NewsInsertResult" nillable="true" type="q67:NewsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="Model" nillable="true" type="q68:NewsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="NewsUpdateResult" nillable="true" type="q69:NewsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewsId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="NewsQueryByIdResult" nillable="true" type="q70:NewsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsQueryByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewsTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsQueryByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="NewsQueryByTitleResult" nillable="true" type="q71:NewsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsDeleteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewsId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsDeleteByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewsDeleteByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsDeleteByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewsCategoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsDeleteByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewsDeleteByCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsDeleteByCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsDeleteByCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewsDeleteByCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsQueryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsQueryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="NewsQueryListResult" nillable="true" type="q72:ArrayOfNewsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsQueryListByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewsCategoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsQueryListByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="NewsQueryListByCategoryResult" nillable="true" type="q73:ArrayOfNewsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsQueryListByCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsQueryListByCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="NewsQueryListByCompanyResult" nillable="true" type="q74:ArrayOfNewsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="Model" nillable="true" type="q75:PatentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="PatentInsertResult" nillable="true" type="q76:PatentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="Model" nillable="true" type="q77:PatentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="PatentUpdateResult" nillable="true" type="q78:PatentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PatentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="PatentQueryByIdResult" nillable="true" type="q79:PatentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentQueryByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PatentName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentQueryByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="PatentQueryByNameResult" nillable="true" type="q80:PatentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentDeleteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PatentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentDeleteByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PatentDeleteByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentDeleteByCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentDeleteByCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PatentDeleteByCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentQueryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentQueryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="PatentQueryListResult" nillable="true" type="q81:ArrayOfPatentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentQueryListByCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentQueryListByCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="PatentQueryListByCompanyResult" nillable="true" type="q82:ArrayOfPatentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnologyDomainList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnologyDomainListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetTechnologyDomainListResult" nillable="true" type="q83:ArrayOfTechnologyDomainMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevelopmentStatusList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevelopmentStatusListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="GetDevelopmentStatusListResult" nillable="true" type="q84:ArrayOfDevelopmentStatusMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentDisable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="Model" nillable="true" type="q85:PatentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentDisableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PatentDisableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="Model" nillable="true" type="q86:PatentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatentTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PatentTransferResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SinglePageInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="Model" nillable="true" type="q87:SinglePageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SinglePageInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="SinglePageInsertResult" nillable="true" type="q88:SinglePageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SinglePageUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="Model" nillable="true" type="q89:SinglePageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SinglePageUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="SinglePageUpdateResult" nillable="true" type="q90:SinglePageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SinglePageQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SinglePageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SinglePageQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="SinglePageQueryByIdResult" nillable="true" type="q91:SinglePageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SinglePageQueryByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SinglePageName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SinglePageQueryByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="SinglePageQueryByNameResult" nillable="true" type="q92:SinglePageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SinglePageDeleteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SinglePageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SinglePageDeleteByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SinglePageDeleteByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SinglePageDeleteByCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SinglePageDeleteByCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SinglePageDeleteByCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SinglePageQueryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SinglePageQueryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="SinglePageQueryListResult" nillable="true" type="q93:ArrayOfSinglePageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SinglePageQueryListByCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SinglePageQueryListByCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="SinglePageQueryListByCompanyResult" nillable="true" type="q94:ArrayOfSinglePageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileDirectoryCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SubDirectoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileDirectoryCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileDirectoryCreateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileDirectoryPathByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SubDirectoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileDirectoryPathByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileDirectoryPathByNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileDirectoryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileDirectoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" minOccurs="0" name="FileDirectoryListResult" nillable="true" type="q95:ArrayOfFileFolderMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileDirectorySize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SubDirectoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileDirectorySizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileDirectorySizeResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SubDirectoryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SubFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>