Digital.WCFClient/Service References/ConfigService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IConfigService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="CustomBinding_IUserService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="CustomBinding_ICompanyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="CustomBinding_ICasesCategoryService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4503/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4503/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4503/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Digital.Contact.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConfigService_GetMenuList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuList" />
  </wsdl:message>
  <wsdl:message name="IConfigService_GetMenuList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuListResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigService_GetCommonRightList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommonRightList" />
  </wsdl:message>
  <wsdl:message name="IConfigService_GetCommonRightList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommonRightListResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUserService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetSkillList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSkillList" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetSkillList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSkillListResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUsersInfoModel_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsersInfoModel" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUsersInfoModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsersInfoModelResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateGoodAtWhat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGoodAtWhat" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateGoodAtWhat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGoodAtWhatResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUsersModel_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsersModel" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUsersModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsersModelResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserInfoByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoByName" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserInfoByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IUserService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_WaterEdit_InputMessage">
    <wsdl:part name="parameters" element="tns:WaterEdit" />
  </wsdl:message>
  <wsdl:message name="IUserService_WaterEdit_OutputMessage">
    <wsdl:part name="parameters" element="tns:WaterEditResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_WaterFind_InputMessage">
    <wsdl:part name="parameters" element="tns:WaterFind" />
  </wsdl:message>
  <wsdl:message name="IUserService_WaterFind_OutputMessage">
    <wsdl:part name="parameters" element="tns:WaterFindResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CompanyInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:CompanyInsert" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CompanyInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompanyInsertResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CompanyUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:CompanyUpdate" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CompanyUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompanyUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CompanyQueryById_InputMessage">
    <wsdl:part name="parameters" element="tns:CompanyQueryById" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CompanyQueryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompanyQueryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CompanyQueryByName_InputMessage">
    <wsdl:part name="parameters" element="tns:CompanyQueryByName" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CompanyQueryByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompanyQueryByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CompanyDeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:CompanyDeleteById" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CompanyDeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompanyDeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CompanyDisposeByNo_InputMessage">
    <wsdl:part name="parameters" element="tns:CompanyDisposeByNo" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CompanyDisposeByNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompanyDisposeByNoResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CompanyQueryList_InputMessage">
    <wsdl:part name="parameters" element="tns:CompanyQueryList" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CompanyQueryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompanyQueryListResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCompanyTypeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyTypeList" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCompanyTypeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCompanyMemberList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyMemberList" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCompanyMemberList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyMemberListResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCompanyBusinessList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyBusinessList" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCompanyBusinessList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyBusinessListResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetPrimaryBusinessList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrimaryBusinessList" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetPrimaryBusinessList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrimaryBusinessListResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetPrimarySalesAreaList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrimarySalesAreaList" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetPrimarySalesAreaList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrimarySalesAreaListResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetProductionFormList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductionFormList" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetProductionFormList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductionFormListResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetServicesDomainList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServicesDomainList" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetServicesDomainList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServicesDomainListResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetProcessingMethodList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessingMethodList" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetProcessingMethodList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessingMethodListResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetProcessingCraftList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessingCraftList" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetProcessingCraftList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessingCraftListResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetEquipmentIntroList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEquipmentIntroList" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetEquipmentIntroList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEquipmentIntroListResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCapacityUnitList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCapacityUnitList" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCapacityUnitList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCapacityUnitListResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetAnnualBusinessVolumeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnnualBusinessVolumeList" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetAnnualBusinessVolumeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnnualBusinessVolumeListResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetAnnualExportsVolumeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnnualExportsVolumeList" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetAnnualExportsVolumeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnnualExportsVolumeListResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetManagementSystemCertificationList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetManagementSystemCertificationList" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetManagementSystemCertificationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetManagementSystemCertificationListResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetProductQualityCertificationList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductQualityCertificationList" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetProductQualityCertificationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductQualityCertificationListResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetQualityAssuranceList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQualityAssuranceList" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetQualityAssuranceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQualityAssuranceListResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCompanyYearEstablishedList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyYearEstablishedList" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCompanyYearEstablishedList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyYearEstablishedListResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCompanyRegisteredAssetsUnitList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyRegisteredAssetsUnitList" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCompanyRegisteredAssetsUnitList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyRegisteredAssetsUnitListResponse" />
  </wsdl:message>
  <wsdl:message name="ICasesCategoryService_CasesCategoryInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:CasesCategoryInsert" />
  </wsdl:message>
  <wsdl:message name="ICasesCategoryService_CasesCategoryInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:CasesCategoryInsertResponse" />
  </wsdl:message>
  <wsdl:message name="ICasesCategoryService_CasesCategoryUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:CasesCategoryUpdate" />
  </wsdl:message>
  <wsdl:message name="ICasesCategoryService_CasesCategoryUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CasesCategoryUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ICasesCategoryService_CasesCategoryQueryById_InputMessage">
    <wsdl:part name="parameters" element="tns:CasesCategoryQueryById" />
  </wsdl:message>
  <wsdl:message name="ICasesCategoryService_CasesCategoryQueryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:CasesCategoryQueryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICasesCategoryService_CasesCategoryQueryByName_InputMessage">
    <wsdl:part name="parameters" element="tns:CasesCategoryQueryByName" />
  </wsdl:message>
  <wsdl:message name="ICasesCategoryService_CasesCategoryQueryByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:CasesCategoryQueryByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICasesCategoryService_CasesCategoryDeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:CasesCategoryDeleteById" />
  </wsdl:message>
  <wsdl:message name="ICasesCategoryService_CasesCategoryDeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:CasesCategoryDeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICasesCategoryService_CasesCategoryDeleteByCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:CasesCategoryDeleteByCompany" />
  </wsdl:message>
  <wsdl:message name="ICasesCategoryService_CasesCategoryDeleteByCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:CasesCategoryDeleteByCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICasesCategoryService_CasesCategoryQueryList_InputMessage">
    <wsdl:part name="parameters" element="tns:CasesCategoryQueryList" />
  </wsdl:message>
  <wsdl:message name="ICasesCategoryService_CasesCategoryQueryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CasesCategoryQueryListResponse" />
  </wsdl:message>
  <wsdl:message name="ICasesCategoryService_CasesCategoryQueryListByCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:CasesCategoryQueryListByCompany" />
  </wsdl:message>
  <wsdl:message name="ICasesCategoryService_CasesCategoryQueryListByCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:CasesCategoryQueryListByCompanyResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IConfigService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetMenuList">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigService/GetMenuList" message="tns:IConfigService_GetMenuList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigService/GetMenuListResponse" message="tns:IConfigService_GetMenuList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetCommonRightList">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigService/GetCommonRightList" message="tns:IConfigService_GetCommonRightList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigService/GetCommonRightListResponse" message="tns:IConfigService_GetCommonRightList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="true" name="IUserService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Login" message="tns:IUserService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/LoginResponse" message="tns:IUserService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserInfo" message="tns:IUserService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserInfoResponse" message="tns:IUserService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetSkillList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetSkillList" message="tns:IUserService_GetSkillList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetSkillListResponse" message="tns:IUserService_GetSkillList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateUsersInfoModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUsersInfoModel" message="tns:IUserService_UpdateUsersInfoModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUsersInfoModelResponse" message="tns:IUserService_UpdateUsersInfoModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateGoodAtWhat">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateGoodAtWhat" message="tns:IUserService_UpdateGoodAtWhat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateGoodAtWhatResponse" message="tns:IUserService_UpdateGoodAtWhat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateUsersModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUsersModel" message="tns:IUserService_UpdateUsersModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUsersModelResponse" message="tns:IUserService_UpdateUsersModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetUserInfoByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserInfoByName" message="tns:IUserService_GetUserInfoByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserInfoByNameResponse" message="tns:IUserService_GetUserInfoByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Register" message="tns:IUserService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/RegisterResponse" message="tns:IUserService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="WaterEdit">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/WaterEdit" message="tns:IUserService_WaterEdit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/WaterEditResponse" message="tns:IUserService_WaterEdit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="WaterFind">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/WaterFind" message="tns:IUserService_WaterFind_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/WaterFindResponse" message="tns:IUserService_WaterFind_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="true" name="ICompanyService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CompanyInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/CompanyInsert" message="tns:ICompanyService_CompanyInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/CompanyInsertResponse" message="tns:ICompanyService_CompanyInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CompanyUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/CompanyUpdate" message="tns:ICompanyService_CompanyUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/CompanyUpdateResponse" message="tns:ICompanyService_CompanyUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CompanyQueryById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/CompanyQueryById" message="tns:ICompanyService_CompanyQueryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/CompanyQueryByIdResponse" message="tns:ICompanyService_CompanyQueryById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CompanyQueryByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/CompanyQueryByName" message="tns:ICompanyService_CompanyQueryByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/CompanyQueryByNameResponse" message="tns:ICompanyService_CompanyQueryByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CompanyDeleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/CompanyDeleteById" message="tns:ICompanyService_CompanyDeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/CompanyDeleteByIdResponse" message="tns:ICompanyService_CompanyDeleteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CompanyDisposeByNo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/CompanyDisposeByNo" message="tns:ICompanyService_CompanyDisposeByNo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/CompanyDisposeByNoResponse" message="tns:ICompanyService_CompanyDisposeByNo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CompanyQueryList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/CompanyQueryList" message="tns:ICompanyService_CompanyQueryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/CompanyQueryListResponse" message="tns:ICompanyService_CompanyQueryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetCompanyTypeList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetCompanyTypeList" message="tns:ICompanyService_GetCompanyTypeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetCompanyTypeListResponse" message="tns:ICompanyService_GetCompanyTypeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetCompanyMemberList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetCompanyMemberList" message="tns:ICompanyService_GetCompanyMemberList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetCompanyMemberListResponse" message="tns:ICompanyService_GetCompanyMemberList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetCompanyBusinessList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetCompanyBusinessList" message="tns:ICompanyService_GetCompanyBusinessList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetCompanyBusinessListResponse" message="tns:ICompanyService_GetCompanyBusinessList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetPrimaryBusinessList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetPrimaryBusinessList" message="tns:ICompanyService_GetPrimaryBusinessList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetPrimaryBusinessListResponse" message="tns:ICompanyService_GetPrimaryBusinessList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetPrimarySalesAreaList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetPrimarySalesAreaList" message="tns:ICompanyService_GetPrimarySalesAreaList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetPrimarySalesAreaListResponse" message="tns:ICompanyService_GetPrimarySalesAreaList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetProductionFormList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetProductionFormList" message="tns:ICompanyService_GetProductionFormList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetProductionFormListResponse" message="tns:ICompanyService_GetProductionFormList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetServicesDomainList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetServicesDomainList" message="tns:ICompanyService_GetServicesDomainList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetServicesDomainListResponse" message="tns:ICompanyService_GetServicesDomainList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetProcessingMethodList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetProcessingMethodList" message="tns:ICompanyService_GetProcessingMethodList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetProcessingMethodListResponse" message="tns:ICompanyService_GetProcessingMethodList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetProcessingCraftList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetProcessingCraftList" message="tns:ICompanyService_GetProcessingCraftList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetProcessingCraftListResponse" message="tns:ICompanyService_GetProcessingCraftList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetEquipmentIntroList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetEquipmentIntroList" message="tns:ICompanyService_GetEquipmentIntroList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetEquipmentIntroListResponse" message="tns:ICompanyService_GetEquipmentIntroList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetCapacityUnitList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetCapacityUnitList" message="tns:ICompanyService_GetCapacityUnitList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetCapacityUnitListResponse" message="tns:ICompanyService_GetCapacityUnitList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAnnualBusinessVolumeList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetAnnualBusinessVolumeList" message="tns:ICompanyService_GetAnnualBusinessVolumeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetAnnualBusinessVolumeListResponse" message="tns:ICompanyService_GetAnnualBusinessVolumeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAnnualExportsVolumeList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetAnnualExportsVolumeList" message="tns:ICompanyService_GetAnnualExportsVolumeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetAnnualExportsVolumeListResponse" message="tns:ICompanyService_GetAnnualExportsVolumeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetManagementSystemCertificationList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetManagementSystemCertificationList" message="tns:ICompanyService_GetManagementSystemCertificationList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetManagementSystemCertificationListResponse" message="tns:ICompanyService_GetManagementSystemCertificationList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetProductQualityCertificationList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetProductQualityCertificationList" message="tns:ICompanyService_GetProductQualityCertificationList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetProductQualityCertificationListResponse" message="tns:ICompanyService_GetProductQualityCertificationList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetQualityAssuranceList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetQualityAssuranceList" message="tns:ICompanyService_GetQualityAssuranceList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetQualityAssuranceListResponse" message="tns:ICompanyService_GetQualityAssuranceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetCompanyYearEstablishedList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetCompanyYearEstablishedList" message="tns:ICompanyService_GetCompanyYearEstablishedList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetCompanyYearEstablishedListResponse" message="tns:ICompanyService_GetCompanyYearEstablishedList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetCompanyRegisteredAssetsUnitList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetCompanyRegisteredAssetsUnitList" message="tns:ICompanyService_GetCompanyRegisteredAssetsUnitList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetCompanyRegisteredAssetsUnitListResponse" message="tns:ICompanyService_GetCompanyRegisteredAssetsUnitList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="true" name="ICasesCategoryService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CasesCategoryInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasesCategoryService/CasesCategoryInsert" message="tns:ICasesCategoryService_CasesCategoryInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasesCategoryService/CasesCategoryInsertResponse" message="tns:ICasesCategoryService_CasesCategoryInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CasesCategoryUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasesCategoryService/CasesCategoryUpdate" message="tns:ICasesCategoryService_CasesCategoryUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasesCategoryService/CasesCategoryUpdateResponse" message="tns:ICasesCategoryService_CasesCategoryUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CasesCategoryQueryById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasesCategoryService/CasesCategoryQueryById" message="tns:ICasesCategoryService_CasesCategoryQueryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasesCategoryService/CasesCategoryQueryByIdResponse" message="tns:ICasesCategoryService_CasesCategoryQueryById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CasesCategoryQueryByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasesCategoryService/CasesCategoryQueryByName" message="tns:ICasesCategoryService_CasesCategoryQueryByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasesCategoryService/CasesCategoryQueryByNameResponse" message="tns:ICasesCategoryService_CasesCategoryQueryByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CasesCategoryDeleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasesCategoryService/CasesCategoryDeleteById" message="tns:ICasesCategoryService_CasesCategoryDeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasesCategoryService/CasesCategoryDeleteByIdResponse" message="tns:ICasesCategoryService_CasesCategoryDeleteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CasesCategoryDeleteByCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasesCategoryService/CasesCategoryDeleteByCompany" message="tns:ICasesCategoryService_CasesCategoryDeleteByCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasesCategoryService/CasesCategoryDeleteByCompanyResponse" message="tns:ICasesCategoryService_CasesCategoryDeleteByCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CasesCategoryQueryList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasesCategoryService/CasesCategoryQueryList" message="tns:ICasesCategoryService_CasesCategoryQueryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasesCategoryService/CasesCategoryQueryListResponse" message="tns:ICasesCategoryService_CasesCategoryQueryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CasesCategoryQueryListByCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasesCategoryService/CasesCategoryQueryListByCompany" message="tns:ICasesCategoryService_CasesCategoryQueryListByCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasesCategoryService/CasesCategoryQueryListByCompanyResponse" message="tns:ICasesCategoryService_CasesCategoryQueryListByCompany_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IConfigService" type="tns:IConfigService">
    <wsp:PolicyReference URI="#CustomBinding_IConfigService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetMenuList">
      <soap12:operation soapAction="http://tempuri.org/IConfigService/GetMenuList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommonRightList">
      <soap12:operation soapAction="http://tempuri.org/IConfigService/GetCommonRightList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomBinding_IUserService" type="tns:IUserService">
    <wsp:PolicyReference URI="#CustomBinding_IUserService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IUserService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkillList">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetSkillList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUsersInfoModel">
      <soap12:operation soapAction="http://tempuri.org/IUserService/UpdateUsersInfoModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGoodAtWhat">
      <soap12:operation soapAction="http://tempuri.org/IUserService/UpdateGoodAtWhat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUsersModel">
      <soap12:operation soapAction="http://tempuri.org/IUserService/UpdateUsersModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByName">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetUserInfoByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IUserService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WaterEdit">
      <soap12:operation soapAction="http://tempuri.org/IUserService/WaterEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WaterFind">
      <soap12:operation soapAction="http://tempuri.org/IUserService/WaterFind" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomBinding_ICompanyService" type="tns:ICompanyService">
    <wsp:PolicyReference URI="#CustomBinding_ICompanyService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CompanyInsert">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/CompanyInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyUpdate">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/CompanyUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyQueryById">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/CompanyQueryById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyQueryByName">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/CompanyQueryByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyDeleteById">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/CompanyDeleteById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyDisposeByNo">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/CompanyDisposeByNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyQueryList">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/CompanyQueryList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyTypeList">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetCompanyTypeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyMemberList">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetCompanyMemberList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyBusinessList">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetCompanyBusinessList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrimaryBusinessList">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetPrimaryBusinessList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrimarySalesAreaList">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetPrimarySalesAreaList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductionFormList">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetProductionFormList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServicesDomainList">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetServicesDomainList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessingMethodList">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetProcessingMethodList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessingCraftList">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetProcessingCraftList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentIntroList">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetEquipmentIntroList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCapacityUnitList">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetCapacityUnitList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnnualBusinessVolumeList">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetAnnualBusinessVolumeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnnualExportsVolumeList">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetAnnualExportsVolumeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManagementSystemCertificationList">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetManagementSystemCertificationList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductQualityCertificationList">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetProductQualityCertificationList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQualityAssuranceList">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetQualityAssuranceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyYearEstablishedList">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetCompanyYearEstablishedList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyRegisteredAssetsUnitList">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetCompanyRegisteredAssetsUnitList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomBinding_ICasesCategoryService" type="tns:ICasesCategoryService">
    <wsp:PolicyReference URI="#CustomBinding_ICasesCategoryService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CasesCategoryInsert">
      <soap12:operation soapAction="http://tempuri.org/ICasesCategoryService/CasesCategoryInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CasesCategoryUpdate">
      <soap12:operation soapAction="http://tempuri.org/ICasesCategoryService/CasesCategoryUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CasesCategoryQueryById">
      <soap12:operation soapAction="http://tempuri.org/ICasesCategoryService/CasesCategoryQueryById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CasesCategoryQueryByName">
      <soap12:operation soapAction="http://tempuri.org/ICasesCategoryService/CasesCategoryQueryByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CasesCategoryDeleteById">
      <soap12:operation soapAction="http://tempuri.org/ICasesCategoryService/CasesCategoryDeleteById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CasesCategoryDeleteByCompany">
      <soap12:operation soapAction="http://tempuri.org/ICasesCategoryService/CasesCategoryDeleteByCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CasesCategoryQueryList">
      <soap12:operation soapAction="http://tempuri.org/ICasesCategoryService/CasesCategoryQueryList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CasesCategoryQueryListByCompany">
      <soap12:operation soapAction="http://tempuri.org/ICasesCategoryService/CasesCategoryQueryListByCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="CustomBinding_IConfigService" binding="tns:CustomBinding_IConfigService">
      <soap12:address location="net.tcp://localhost:4502/ConfigService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4502/ConfigService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="CustomBinding_IUserService" binding="tns:CustomBinding_IUserService">
      <soap12:address location="net.tcp://localhost:4502/UserService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4502/UserService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="CustomBinding_ICompanyService" binding="tns:CustomBinding_ICompanyService">
      <soap12:address location="net.tcp://localhost:4502/CompanyService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4502/CompanyService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="CustomBinding_ICasesCategoryService" binding="tns:CustomBinding_ICasesCategoryService">
      <soap12:address location="net.tcp://localhost:4502/CasesCategoryService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4502/CasesCategoryService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>